<div class="comp2">
    <div class="block__wrapper">
        <p>Count: {{ count$ | async }}</p>
    </div>
    <div class="block__wrapper">
        <p>Message: {{ message$ | async}}</p>
    </div>
    <div class="block__wrapper">
        <p> Temperature in Kyiv: 
            <span *ngIf="data$">{{ (data$ | async)?.temp | format}}</span>
        </p>
        <p> Temperature in Kyiv: 
            <span *ngIf="data$">{{ setTemperature((data$ | async)?.temp)}}</span>
        </p>
    </div>
    <div class="block__wrapper">
        <p> Humidity in Kyiv: {{ (data$ | async)?.humidity }}%</p>
    </div>
    <div class="block__wrapper">
        <p>Message from promise: {{ prdata$ | async}}</p>
    </div>    
</div>

